version: '3'
services:

  portainer:
    image: portainer/portainer:latest
    container_name: portainer
    ports:
      - "9000:9000"
    volumes:
      - "dataPortainer:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - janusGraphEnvNetwork

  janusgraph:
    image: janusgraph/janusgraph:0.3.1
    container_name: janusgraph
    depends_on:
      - cassandra
    ports:
      - "8182:8182"
    # volumes:
    #   - "./janusConf:/janusgraph-0.3.1-hadoop2/conf"
    networks:
      - janusGraphEnvNetwork

  graphexp:
    image: aleopold/docker-graphexp:0.8.1.2
    container_name: graphexp
    depends_on:
      - janusgraph
    ports:
      - "8183:80"
    networks:
      - janusGraphEnvNetwork
  
  kibana:
    image: docker.elastic.co/kibana/kibana:7.10.1
    container_name: kibana
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    networks:
      - janusGraphEnvNetwork
  
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.1
    container_name: elasticsearch
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "http.host=0.0.0.0"
      - "transport.host=127.0.0.1"
    ports:
      - "9200:9200"
    volumes:
      - "dataElasticsearch:/usr/share/elasticsearch/data"
      - "./elasticConf/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml"
    networks:
      - janusGraphEnvNetwork
  
  cassandra:
    image: cassandra:latest
    container_name: cassandra
    environment:
      - CASSANDRA_START_RPC=true
    ports:
      - "7000:7000"
      - "9042:9042"
      - "9160:9160"
    volumes:
      - "dataCassandra:/var/lib/cassandra"
    networks:
      - janusGraphEnvNetwork

  portal:
    image: php:7.2-apache
    container_name: portal
    ports:
      - "8081:80"
    volumes: 
      - ./www:/var/www/html
    networks:
      - janusGraphEnvNetwork

networks:
  janusGraphEnvNetwork:
    driver: bridge

volumes:
  dataPortainer:
  dataCassandra:
  dataElasticsearch: